<div class="row">
<div class="large-24 columns">
  <div class="row collapse">
    <form class="search">
      <input type="text" placeholder="Taxes"><input type="submit"></a>
    </form>
</div>
</div>
