<div class="row">
  <div class="large-24 columns">
      <form class="search hint">
        <input type="text" placeholder="Taxes">
        <p>e.g. text text text text</p>
      </form>
    </div>
  </div>
