<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #027EA4;"></span>
		<span class="sg-label">#027EA4</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #F2BA13;"></span>
		<span class="sg-label">#F2BA13</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #ffffff;"></span>
		<span class="sg-label">#ffffff</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #F9F9F9;"></span>
		<span class="sg-label">#F9F9F9</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #F1F3F1;"></span>
		<span class="sg-label">#F1F3F1</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #EDF4F7;"></span>
		<span class="sg-label">#EDF4F7</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #DBE1E3;"></span>
		<span class="sg-label">#DBE1E3</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #353535;"></span>
		<span class="sg-label">#353535</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #000000;"></span>
		<span class="sg-label">#000000</span>
	</li>
</ul>
