<div class="row">
  <div id="breadcrumbs" class="large-24 columns">
    <ul class="inline-list">
      <li><a href="#">phila.gov</a></li>
      <li><a href="#">Business</a></li>
      <li><a href="#">Taxes</a></li>
      <li>Liquor Tax</li>
    </ul>
  </div>
</div>
