footer.site-footer {
  font-size:rem-calc(13);
  background: $ben-franklin-blue;
  text-transform: uppercase;
  padding-top:rem-calc(10);

  height:rem-calc(40);//explict height for sticky footer

  ul.inline-list {
    font-size:rem-calc(13);
    float:right;
    margin:0;
    padding:0;
  }
  li{
    padding:0 0 0 10px;
  }
  a:link, a:visited {
    color:$white;
  }
  a:hover, a:active{
    color:$mine-shaft;
  }
}
