$ben-franklin-blue: #027EA4; //primary
$ben-light-blue: #4C97DB;// primary-light
$black: #000;
$bell-yellow: #F2BA13;

$geyser: #DBE1E3; //primarily used on borders
$ghost-gray: #F1F3F1; //primarily used on callouts

$iron: #D3DADD; //gray

$manatee: #9299A5; //Md. Grey
$mine-shaft: #353535; //dark gray

$white:#fff;
$whitesmoke: #EDF4F7; //whitesmoke
